*{
    margin: 0;
    padding: 0;
}





body{
    background-color: #0C0627;
}

#contenedor{
    width: 100%;
    max-width: 1280px;
    
    background-color: #0C0627;
    margin: 0.5em auto;
    padding: 0.5em;
    display: flow-root;
}
#header{
    width: 100%;
    height: auto;
    background-color: #ffb20b;
    margin: 0.5em auto;
    padding: 0.5em auto;
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/989/551/789/5c1fa601f065a-wallpaper-preview.jpg);
    
}
#nav{
    width: 100%;
    height: 5%;
    background-color: #023047;
    margin: 0.5em auto;
    padding: 0.5em auto;
    color: aliceblue;
}
#contenido{
    width: 100%;
    height: 52%;
    background-color: #ffb20b;
    margin: 0.5em auto;
    padding: 0.5em auto;
    display: flow-root;
    
    
}

#izquierda {
    width: 15%;
    height: 93%;
    background-color: #0C0627;
    float: left;
    margin: 0.5em;
    padding: 0.5em;
    color: white;
    letter-spacing: 2px;
}


#articulos{
    width: 68%;
    height: 93%;
    background-color: #0C0627;
    float: left;
    margin: 0.5em;
    padding: 0.5em;
}
    
#lateral{
    width: 9%;
    height: 93%;
    background-color: #0C0627;
    float: right;
    margin: 0.5em;
    padding: 0.5em;
}
#footer{
    width: 100%;
    height: fit-content;
    background-color: #ffb20b;
    margin: 0.5em auto;
    padding: 0.5em ;
    color: aliceblue;
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/989/551/789/5c1fa601f065a-wallpaper-preview.jpg);
    
    
}


#barra_busqueda{

    background-color: white;
    height: 30px;
    width: 50%;
    margin: 0.5em;
    float: left;
    filter: invert();


}

.botones{
    background-color: rgb(255, 255, 255);
    float: right;
   
    margin: 6px;
    filter: invert();
    
}

#BOTONES {
    height: 30px;
    width: 20%;
    float: right;
    
}

#logo{

    margin: 0.5em auto;
    padding: 0.5em auto;
    

} #logo_img {

    filter: invert();

}

.redes{

    margin: 30px;

}



#caja{
    color: white;
    width: 50%;
    height: 57%;
    margin: 1em auto;
    padding: 0.5em auto;
    background-color: #ffb20b;
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/989/551/789/5c1fa601f065a-wallpaper-preview.jpg);
    
    border-radius: 3%;
    backdrop-filter: opacity(20%);
    
}

#regreso {
    filter: invert(100%);
    margin: 0.5em;
}

#carrito{
   
    
    margin: 0.5em;
}

#lista {

    width: 60%;
    height: 69%;
    margin: 0.5em;
    background-color: #ffb20b;
    float: left;
    padding: 0.5em;

}

#producto {

    height: 20%;
    width: auto;
    background-color: #0C0627; 
    padding: 0.5em;
    color: white;
    margin: 0.1em;
    
}

#monto {

height: auto;
width: 33%;
margin: 1em;
background-color: #ffb20b;
float: right;
padding: 0.5em;

}

#boton_compra {

    height: 50px;
    width: 300px;
    filter: invert(100%);

}

#p_i{
    float: left;
}

#p_d{
    float: right;
    width: 78%;
    height: 100%;
}

#seccion{
    width: 78%;
    
}

.elementos{
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
    height: 20px;
    width: 74px;
}

#producto_carrucel {

    background-color: #ffb20b;
    width: 60%;
    height: 60%;
    float: left;
    padding: 7px;
    margin: 0.5em;
    display: inline-block;

}

.img_carrucel{

    height: 300px;
    width: 300px;

}

#Caja_comentarios {

    width: 60%;
    color: #ffb20b;
    border: 1px solid #ffb20b;
    padding: 3px;
    margin: 0.5em;
    display: flow-root;

}

#caja_izquierda {

    float: left;

}

#caja_derecha {

    float: right;

}

.comentario{

    display: -webkit-inline-box;
    margin: 1px;

}

.comentario_encabezado {


    border-bottom: 1px dashed white;
    padding-bottom: 0.3em;

}

.comentario_encabezado_derecha {

    float: right;

}

.comentario_encabezado_izquierda {

    float: left;

}





.ec-stars-wrapper {
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 2rem;
	
	color: #888;
}

.ec-stars-wrapper:hover a {
	color: #ffb20b;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}












