:root {

--COLOR-OSCURO: #212529;
--VERDE-GUAY: #198754;
--AMARILLO-GUAY: #ffb20b;
--BORDE-AMARILLO: #ffc10799;
--GRIS-NO-SAD: #908f8f;
--GRIS-SAD: #6c757d;
--GRIS-HEADER: #353535;

}

.card {

    background-color: var(--COLOR-OSCURO);
    color: white;
    border: 1px solid var(--BORDE-AMARILLO);
    

}

.card-productosCRISS {
    max-width: 32.9%;
    display: inline-block;
}

.img-productos {
    width: 25vw;
    height: 15vw;
}

.list-group-item.list-group-item-action {

    background-color: var(--COLOR-OSCURO);
    color: var(--GRIS-NO-SAD);
    
}



.list-group-item.list-group-item-action.active {

    background-color: var(--AMARILLO-GUAY);
    border-color: var(--BORDE-AMARILLO);
    color: white;

}

.list-group-item.list-group-item:hover {

    color: white;

}

.list-group-item.list-group-item-action:disabled {

    color: var(--GRIS-SAD);

}

.card {

    background-color: var(--COLOR-OSCURO);

}

#lista {

    background-color: transparent;
    padding: 0px;
}

.cantidades {

    background-color: var(--COLOR-OSCURO);
    color: var(--AMARILLO-GUAY);
    border: 1px solid var(--BORDE-AMARILLO);
    width: 50px;
    text-align: center;

}

.card-header, .card-footer {

    background-color: var(--GRIS-HEADER);

}

.offcanvas {

background-color: var(--COLOR-OSCURO);
color: wheat;
text-align: center;

}

.fa-facebook,.fa-instagram,.fa-whatsapp {

    color: var(--AMARILLO-GUAY);

}

#carouselExampleIndicators{

    width: 300px; 
    height: 300px;

}

.registro_usuario{

position: absolute;
width: min-content;

}

.sesion_activa {
    width: 20vw;
}

.CRISS_img_tarjetas{
    width: 100%;
    height: 100%;
}

.boton_registro {

    background-color: var(--GRIS-HEADER);
    color: var(--AMARILLO-GUAY);
    margin: 0.5em;


}

.modal_personalizada {
    max-width: none;
}

#contenido_producto_editar {
    display: contents;
}

@media screen and (max-width: 991px) {
    
    .registro_usuario{
        position: relative;
        width: auto;
    }
    

}




@media screen and (max-width: 780px) {

    #izquierda{

        width: 100%;
        margin: inherit;


    }

    .list-group-item.list-group-item-action.active {

        padding: 0.5rem;

    }

    #lista {

        width: revert;

    }

    .card.text-center {

        min-width: revert;

    }

    #articulos {

        width: auto;

    }

    .card-productosCRISS {
        width: 100%;
        max-width: none;
    }

    .img-productos {
        width: 100%;
        height: auto;
    }

    #producto_carrucel {

        width: -webkit-fill-available;

    }

    #carouselExampleIndicators, .img_carrucel{

        width: 80vw;
        height: 80vw;

    }

    #Caja_comentarios {

        width: -webkit-fill-available;

    }
    
}
